apiVersion: apps/v1
kind: Deployment
metadata:
  name: sdoc-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sdoc-server
  template:
    metadata:
      labels:
        app: sdoc-server
      # annotations:
      #   inject-certs: "enabled"  
    spec:
      hostAliases:
      - ip: "172.18.0.200"
        hostnames:
        - "seafile.local-cluster.dev"
      - ip: "172.18.0.200"
        hostnames:
        - "seadoc.local-cluster.dev"
      containers:
        - name: sdoc-server
          image: trow.local-cluster.dev/sdoc-server:1.0-latest-ca
          ports:
            - containerPort: 7070
          env:
            - name: SEAHUB_SERVICE_URL
              value: "https://seafile.local-cluster.dev"
            # - name: SEAHUB_SERVICE_URL
            #   value: "http://seafile.default.svc.cluster.local"
            - name: JWT_PRIVATE_KEY
              value: "A3s85fwpaq2iipd5gY7TvwholJ23BedJDvfjfReu"  # Change this to a proper key
            - name: DB_HOST
              value: "mariadb"
            - name: DB_PORT
              value: "3306"
            - name: DB_USER
              value: "seafile" #db's password
            - name: DB_PASSWORD
              value: "db_dev" #db's password
            - name: DB_NAME
              value: "seahub_db" #db's password
            - name: TIME_ZONE
              value: "Europe/Amsterdam"
          volumeMounts:
            - name: sdoc-server-storage
              mountPath: /shared
      volumes:
        - name: sdoc-server-storage
          persistentVolumeClaim:
            claimName: sdoc-server-storage
